scikit-image~=0.19
scikit-learn~=1.3
numpy~=1.26
keras>=2.6
tensorflow~=2.7
opencv-python~=4.9
pandas~=2.1
matplotlib~=3.8
keras>=2.6
seaborn
scikit-learn
scipy
opencv-python-headless
glob2
statsmodels
tqdm